body{
  margin: 0;
  padding: 20px;
  background-color: #0D1117;
  color: #d2dae2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top_bar{
  height: 70px;
  margin-bottom: 20px;
  width: auto;
  border-radius: 8px;
  border: 1px solid #9980FA;
  background-color: #161B22;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;

}

.scroll_box{
  display: grid;
  grid-template-columns: repeat(2, 50%);
	grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  width: 100%;
  border-radius: 8px;

  overflow-y: auto;
  height: calc(100vh - 210px);
}

button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #9980FA;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 15px;
  gap: 10px;
}
.row{
  margin: 20px 50px 20px 50px;
  border: 1px solid #9980FA;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #9980FA;
    
}
.data{
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #9980FA;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}