<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
      const clear_loggs = () =>{
        const Http = new XMLHttpRequest();
        const url='http://localhost:5000/clear-session';
        Http.open("DELETE", url);
        Http.send();

        location.reload();
      }
    </script>
  </head>
  <body>
    <div class="top_bar">XSS MANAGER</div>
    <div class="buttons">
      <p>Auto refresh set to 30s</p>
      <button onclick="clear_loggs()">Clear loggs</button>
    </div>
    <div class="scroll_box">
      {%for data in data_list %}
      <div class="row">
        <div class="number">{{ data["id"] }}</div>
        <div class="data">
          <div>Target: {{ data["target"] }}</div>
          <div>{{ data["token"] }}</div>
          <div>Time: {{ data["savedAt"] }}</div>
        </div>
      </div>
      {%endfor%}
    </div>
  </body>
</html>